In [314]:
import numpy as np
import pandas as pd
import plotly.express as px
import scipy
import scipy.stats

In [315]:
fname_rents = 'medianAskingRent_All.csv'
fname_zips = 'brooklyn_zip_neighborhood.csv'

In [316]:
rent_df = pd.read_csv(fname_rents)
rent_df['Borough'].unique()
rent_df = rent_df[rent_df['Borough']=='Brooklyn']
rent_df = rent_df.rename(columns={'areaName':'Neighborhood'})
zip_df = pd.read_csv(fname_zips)

In [317]:
double_neighborhoods = zip_df[zip_df['Neighborhood'].str.contains("/")]

In [318]:
lst0 = []
lst1 = []
for i in range (double_neighborhoods.shape[0]):
    
    d_neighborhoods = double_neighborhoods.iloc[i]['Neighborhood']
    print(i, d_neighborhoods)
    n_pair = d_neighborhoods.split("/")
    n_rows = rent_df.loc[rent_df['Neighborhood'].isin(n_pair)]
    if n_rows.shape[0] == 0:
        lst0.append(n_pair)
    elif n_rows.shape[0] == 1:
        lst1.append(n_pair)
    else:
        row_df = pd.DataFrame([[np.nan] * len(rent_df.columns)], columns=rent_df.columns)
        rent_df = rent_df.append(row_df, ignore_index=True)
        rent_df.iloc[-1:]['Neighborhood'] = d_neighborhoods
        rent_df.iloc[-1:]['Borough'] = n_rows.iloc[0]['Borough']
        rent_df.iloc[-1:]['areaType'] = n_rows.iloc[0]['areaType']
        rent_df.iloc[-1:,3:] = n_rows.iloc[:,3:].mean(axis=0)

    
#     print(n_pair)
#     print(n_rows.shape[0])
print(lst0)
print(lst1)

0 Brooklyn Heights/Cobble Hill
1 Parkville/Bensonhurst
2 Williamsburg/Bedford-Stuyvesant
3 Vanderveer/Flatbush
4 Bath Beach/Bensonhurst
5 Kensington/Windsor Terrace
6 Homecrest/Madison
7 Carroll Gardens/Red Hook
8 Sheepshead Bay/Brighton Beach
9 Brower Park/Crown Heights
10 Park Slope/Windsor Terrace
11 Park Slope/Gowanus
12 Bushwick/Bedford-Stuyvesant
13 Gravesend/Homecrest
14 Industry City/Sunset Park
15 Flatlands/Mill Basin
[['Homecrest', 'Madison']]
[['Parkville', 'Bensonhurst'], ['Vanderveer', 'Flatbush'], ['Brower Park', 'Crown Heights'], ['Gravesend', 'Homecrest'], ['Industry City', 'Sunset Park']]

In [319]:
rent_df.loc[rent_df['Neighborhood']=='Crown Heights','Neighborhood'] = 'Parkville/Bensonhurst'
rent_df.loc[rent_df['Neighborhood']=='Gravesend','Neighborhood'] = 'Gravesend/Homecrest'
rent_df.loc[rent_df['Neighborhood']=='Sunset Park','Neighborhood'] = 'Industry City/Sunset Park'
rent_df.loc[rent_df['Neighborhood']=='Bensonhurst','Neighborhood'] = 'Parkville/Bensonhurst'
rent_df.loc[rent_df['Neighborhood']=='Flatbush','Neighborhood'] = 'Vanderveer/Flatbush'

In [320]:
# axisvalues=list(range(1,len(rent_df.columns)-2))
# def calc_slope(row):
#     a = scipy.stats.linregress(row, y=axisvalues)
#     return a.slope 

# rent_df["Slope"]=rent_df.iloc[:,3:].apply(calc_slope,axis=1)
# rent_df.drop(["Slope"], axis = 1)

In [321]:
# rent_df.loc[rent_df['Neighborhood']=='Red Hook'].iloc[0,3:-1].plot.line()

In [322]:
rent_df.iloc[:,3:] = round(rent_df.iloc[:,3:].interpolate(axis=1),2)

In [323]:
# rent_df.iloc[:,3:].dropna(how="all")
cols = rent_df.columns[3:]
rent_df = rent_df.dropna(subset=cols,how="all")
# rent_df.iloc[:,3:] = rent_df.iloc[:,3:].dropna(how="all")

In [324]:
# rent_df

In [328]:
rent_df = pd.read_csv("rent_cleaned.csv")
rent_df = rent_df.drop(["Borough", "areaType"], axis=1)
rent_df = rent_df.drop(["Unnamed: 0"], axis=1)
rent_df = rent_df.set_index("Neighborhood")
rent_df = rent_df.T.stack(dropna=False)
rent_df.to_csv("test.csv")
rent_df = pd.read_csv("test.csv")
rent_df.columns = ["Created Date", "Neighborhood", "Price"]
rent_df.sort_values(by=["Neighborhood", "Created Date"])

     Created Date     Neighborhood   Price
0         2010-01       Bath Beach     NaN
61        2010-02       Bath Beach     NaN
122       2010-03       Bath Beach     NaN
183       2010-04       Bath Beach     NaN
244       2010-05       Bath Beach     NaN
...           ...              ...     ...
8285      2021-04  Windsor Terrace  2500.0
8346      2021-05  Windsor Terrace  2200.0
8407      2021-06  Windsor Terrace  2400.0
8468      2021-07  Windsor Terrace  2648.0
8529      2021-08  Windsor Terrace  2400.0

[8540 rows x 3 columns]

In [329]:
rent_df.to_csv("rent_cleaned.csv")

In [330]:
rent_df

     Created Date                   Neighborhood   Price
0         2010-01                     Bath Beach     NaN
1         2010-01                      Bay Ridge  1350.0
2         2010-01             Bedford-Stuyvesant  1650.0
3         2010-01          Parkville/Bensonhurst     NaN
4         2010-01                   Bergen Beach     NaN
...           ...                            ...     ...
8535      2021-08  Sheepshead Bay/Brighton Beach  1875.0
8536      2021-08     Park Slope/Windsor Terrace  2675.0
8537      2021-08             Park Slope/Gowanus  2925.0
8538      2021-08    Bushwick/Bedford-Stuyvesant  2725.0
8539      2021-08           Flatlands/Mill Basin  2400.0

[8540 rows x 3 columns]